@media (max-width: 1600px)
    .btn
        padding: 1vw 1.25vw

    .callback__title
        font-size: 22px
        line-height: 36px

    .project-container
        max-width: 1166px

    .description__text
        max-width: 670px

    .services-list li
        font-size: 16px
        line-height: 21px

    .services-list li:not(:last-child)
        margin-bottom: 17px

    .services-list li::before
        top: 8px

    .services-col__img-top
        margin-right: 80px
        max-width: 517px

    .services-col__title
        font-size: 18px
        margin-bottom: 26px

    .services-col__img-bottom
        max-width: 601px

@media (max-width: 1366px)
    body
        font-size: 16px
        line-height: 22px
    .section
        margin-bottom: 99px
    .mb-8
        margin-bottom: 65px

    .btn
        padding: 13px 21px
        font-size: 14px
        line-height: 16px

    .title
        font-size: 26px
        line-height: 38px

    .header-logo
        margin-right: 3.8vw

    .menu-item:not(:last-child)
        margin-right: 4.2vw

    .steps__items
        font-size: inherit
        line-height: inherit

    .callback
        &__title
            font-size: 22px
            line-height: 35px
        &-form
            max-width: 520px

    .floating-label label
        font-size: 13px
        line-height: 14px
        top: 23px

    .floating-input
        font-size: 14px

    .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label
        top: -4px
        font-size: 11px

@media (max-width: 1100px)
    .container
        padding: 0 50px
    .mb-8
        margin-bottom: 50px
    .main__heading
        left: 50px
    .btn-menu
        display: block
    .main-item__text
        min-width: 228px
